
<div class="row">
  <%@microposts.each do |post|%>
    <div class="col-lg-4 col-sm-6 mb-3">
      <div>
        <%=post.user_id%>
        <br>
        <%= image_tag post.picture.url if post.picture? %>
        <br>
        <%= post.content%>
        <br>
        <span class="timestamp">
          投稿時間:<%= post.created_at %>前
          <br>
          <% if current_user.id == post.user_id %>
            <%= button_to "削除",post, method: :delete,
                                             data: { confirm: "削除してもいいですか？" } %>
          <% end %>
        </span>
      </div>
    </div>
  <% end %>
</div>