<!DOCTYPE html>
<html>
  <head>
    <title>Pajama party</title>
    <meta charset="utf-8">
    <meta name="description" conten="パジャマ(部屋着)を紹介したり、口コミを投稿したりする情報共有サイトです">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <h4 id="logo"><%=link_to 'Pajama party',"/" %></h4>
      
      <ul>
        <li>ログイン</li>
        <li>新規登録</li>
        <li>パジャマの歴史</li>
        <li>問い合わせ</li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
