<!DOCTYPE html>
<html>
  <head>
    <title>Pajama party</title>
    <meta charset="utf-8">
    <meta name="description" conten="パジャマ(部屋着)を紹介したり、口コミを投稿したりする情報共有サイトです">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <h1><%=link_to 'Pajama party',root_path,id:'logo' %></h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-2">
            <% if user_signed_in? %> 
              Logged in as <strong><%= current_user.email %></strong>.
              <li class="nav-item ml-2">
                <%=link_to 'パジャマの歴史','/history'%>
              </li>
              <li class="nav-item ml-2">
                <%=link_to '問い合わせ','/info'%>
              </li>
              <li class="nav-item ml-2">
                <%=link_to '投稿','#'%>
              </li>
              <li class="nav-item ml-2">
                <%=link_to '一覧表示','#'%>
              </li>
              <li class="nav-item ml-2">
                <%=link_to 'プロフィール', edit_user_registration_path %>
              </li>
              <li class="nav-item ml-2">
               <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to "ログイン", new_user_session_path %>
              </li>
              <li class="nav-item ml-2">
                <%=link_to '新規登録',new_user_registration_path%>
              </li>
              <li class="nav-item ml-2">
                <%=link_to 'パジャマの歴史','/history'%>
              </li>
              <li class="nav-item ml-2">
                <%=link_to '問い合わせ','/info'%>
              </li>
            <% end %>
          </ul>
      </div>
  </nav>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
